<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="BashWriter Test Suite">
            <directory>./tests/BashWriter/Test/</directory>
        </testsuite>
    </testsuites>
    
    <logging>
        <log type="coverage-html" target="../web/php-bash-writer/coverage"/>
        <log type="coverage-xml" target="../web/php-bash-writer/coverage"/>
    </logging>
    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
